
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container">
    <div class="danhsachsanpham">
        <div>
            <h4>Danh sách khách hàng online</h4>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10 row">
                <div class="col-md-1"></div>
                <input type="text" name="txtSearch" placeholder="Tìm kiếm" class="txtSearch form-control col-md-7" />
                <div class="col-md-2"><button type="button" class="btn btn-warning" id="search">Tìm kiếm</button></div>

                <div class="col-md-2"></div>
            </div>

        </div>

        <br />

        <table class="table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th width="5%">
                        STT
                    </th>
                    <th width="25%">
                        Tên đăng nhập
                    </th>
                    <th width="15%">
                        Email
                    </th>
                    <th width="15%">
                        Điện thoại
                    </th>
                    <th width="20%">
                        Địa chỉ
                    </th>

                    <th width="15%">

                    </th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
        <div class="card-footer">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="load-pagination"></ul>
            </nav>
        </div>
    </div>

</div>


@section khachhang{
    <script>
        $(document).ready(function (e) {

            loaddata(null, 1);
        });
        function loaddata(txtSeach, page) {

            $.ajax({
                url: "/KhachHangOnlineAdmin/List",
                type: "GET",
                data: { txtSearch: txtSeach, page: page },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td width="5%" class="table-center">' + item.STT + '</td>';
                        html += '<td width="20%">' + item.TenDangNhap + '</td>';
                        html += '<td width="25%">' + item.Email + '</td>';
                        html += '<td width="20%">' + item.SDT + '</td>';
                        html += '<td width="30%"  class="table-center">' + item.DiaChi + '</td>';
                        html += '<td width="15%">   <a href="#"   onclick="Delele(' + item.Id + ')">Xóa</a></td>';
                        html += '</tr>';
                        var pagination_string = "";
                        var pageCurrent = result.pageCurrent;
                        var numSize = result.numSize;

                        //create button previous
                        if (pageCurrent > 1) {
                            var pagePrevious = pageCurrent - 1;
                            pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + pagePrevious + '>Previous</a></li>';
                        }

                        for (i = 1; i <= numSize; i++) {
                            if (i == pageCurrent) {
                                pagination_string += '<li class="page-item active"><a href="" class="page-link" data-page=' + i + '>' + pageCurrent + '</a></li>';
                            } else {
                                pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + i + '>' + i + '</a></li>';
                            }
                        }

                        //create button next
                        if (pageCurrent > 0 && pageCurrent < numSize) {
                            var pageNext = pageCurrent + 1;
                            pagination_string += '<li class="page-item"><a href="" class="page-link"  data-page=' + pageNext + '>Next</a></li>';
                        }

                        //load pagination
                        $("#load-pagination").html(pagination_string);

                    });
                    $('.tbody').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        $("body").on("click", ".pagination li a", function (event) {
            event.preventDefault();
            var page = $(this).attr('data-page');

            //load event pagination
            var txtSearch = $(".txtSearch").val();
            if (txtSearch != "") {
                loaddata(txtSearch, page)
            }
            else {
                loaddata(null, page);
            }

        });
        $("#search").click(function () {
            var txtSearch = $(".txtSearch").val();
            if (txtSearch != "") {
                loaddata(txtSearch, 1)
            }
            else {
                loaddata(null, 1);
            }

        });
        function Delele(ID) {
            var ans = confirm("Bạn có chắc muốn xóa không?");
            if (ans) {
                $.ajax({
                    url: "/KhachHangOnlineAdmin/Delete/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        loaddata(null, 1);
                        alert('Bạn đã xóa sản phẩm thành công');
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }  
    </script>
 }







