
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NguoiDung.cshtml";
}
<main>
    <div class="banner-index container-fluid row">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img src="~/Content/images/banner2_trangchu.jpg" alt="Los Angeles" width="100%" height="">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/images/banner4_trangchu.jpg" alt="Chicago" width="100%" height="">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/images/banner3_trangchu.jpg" alt="New York" width="100%" height="">
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>
    <br />
    <div class="6buocordertrasua container">
        <div class=" row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <img src="~/Content/images/banner-6-buoc-1.png" alt="" height="469px">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div id="demo1" class="carousel slide" data-ride="carousel">


                    <ul class="carousel-indicators">
                        <li data-target="#demo1" data-slide-to="0" class="active"></li>
                        <li data-target="#demo1" data-slide-to="1"></li>
                        <li data-target="#demo1" data-slide-to="2"></li>
                    </ul>


                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Content/images/6buoc-right2.jpg" alt="Los Angeles" width="100%" height="">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/images/6buoc-right1.jpg" alt="Chicago" width="100%" height="">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/images/6buoc-right3.jpg" alt="New York" width="100%" height="">
                        </div>
                    </div>


                    <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo1" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="tinhtuy">
        <div class="content">
            <span>Tinh túy từ lá trà tươi hảo hạng</span> <br> <br>
            <a href="">TÌM HIỂU THÊM</a>
        </div>
    </div>
    <div class="biquyet">
        <div class="container">
            <div class="biquyet1  row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12 biquyet-left">
                    <div class="content">
                        <span>Bí quyết để có một ly trà hảo hạng</span> <br> <br>
                        <img src="~/Content/images/ly-tra.png" alt="" width="50%">
                    </div>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12 biquyet-right ">
                    <div class="content">
                        <span class="title">Thức Uống Đặc Biệt Gong Cha</span> <br> <br>
                        <span class="t-content">
                            Dòng thức uống đặc biệt kết hợp giữa trà nguyên chất với lớp milk foam béo cùng vị mặn nhẹ đặc trưng mang đến điểm nhấn sáng tạo cho một thức uống quen thuộc.
                        </span> <br> <br> <br>
                        <a href="/SanPham/Index">XEM THỰC ĐƠN</a>
                    </div>
                </div>
                <br />
                <div class="col-xl-3 col-lg-3 col-md-3 col-12 bq1">
                    <img src="~/Content/images/cuoitrangchu1.jpg" alt="" width="100%">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12 bq1">
                    <img src="~/Content/images/cuoitrangchu2.jpg" alt="" width="100%">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12 bq1">
                    <img src="~/Content/images/cuoitrangchu3.jpg" alt="" width="100%">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12 bq1">
                    <img src="~/Content/images/cuoitrangchu4.jpg" alt="" width="100%">
                </div>
            </div>
        </div>
    </div>
</main>


