<div class="tongtien">
    @if (@ViewBag.TongTienSanPham != 0)
    {
        <span>Cộng:@String.Format("{0:0,0}", @ViewBag.TongTienSanPham)đ </span>
    }
    else
    {
        <span>Cộng: 0đ </span>
    }
</div>
