<div class="stat-content">
    <div class="text-left dib">
        <div class="stat-text"><span class="count">@ViewBag.DonHang</span></div>
        <div class="stat-heading">Đơn hàng</div>
    </div>
</div>
