@model List<DoAn.Models.EF.HoaDonBan>
@*<div class="dropdown for-notification">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i>
        <span class="count bg-danger">@Model.Count</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="notification">
        <p class="red">@Model.Count hóa đơn chưa phê duyệt</p>
        <a class="dropdown-item media" href="/HoaDonBanAdmin/Index">
            phê duyệt ngay
        </a>

    </div>
</div>*@
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">@Model.Count</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Phê duyệt ngay
        </h6>
        <a class="dropdown-item d-flex align-items-center" href="#">
            Có @Model.Count hóa đơn cần phê duyệt
        </a>
        <a class="dropdown-item text-center small text-gray-500" href="/HoaDonBanAdmin/Index">Phê duyệt ngay</a>
    </div>
</li>
