<div class="stat-content">
    <div class="text-left dib">
        <div class="stat-text"><span class="count">@ViewBag.KhachHang</span></div>
        <div class="stat-heading">Khách hàng</div>
    </div>
</div>
