<div class="stat-content">
    <div class="text-left dib">
        <div class="stat-text"><span class="count">@ViewBag.PhanHoi</span></div>
        <div class="stat-heading">Phản hồi</div>
    </div>
</div>
