@model List<DoAn.Models.EF.HoaDonBan>
<div class="stat-content">
    <div class="text-left dib">
        <div class="stat-text">
            <span class="count">@ViewBag.TongDoanhThu</span>
        </div>
        <div class="stat-heading">Doanh thu</div>
    </div>
</div>
