
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NguoiDung.cshtml";
}

<div class="banner-gioithieu">

    <img src="~/Content/images/logo_gioithieu.jpg" />
    <span class="">GIỚI THIỆU</span>
</div>
<div class="main-gioithieu ">
    <div class="thuonghieu">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <br />
                    <strong>CÂU CHUYỆN THƯƠNG HIỆU</strong> <br /> <br />
                    <span>
                        Tên gọi Gong Cha xuất phát từ ý nghĩa trong tiếng Hoa là Trà cung đình.
                        Thời xưa, các loại trà tốt nhất thường được các vị hoàng thân quý tộc ngự dùng.
                        Ngày nay, Gong Cha mong muốn phục vụ các loại trà tốt nhất cho thực khách,
                        cũng như chính tên gọi của thương hiệu. Kể từ khi được thành lập vào
                        năm 2006 tại Đài Loan, chuỗi cửa hàng Gong Cha đã mở rộng trên
                        khắp 19 quốc gia với 1.500 cửa hàng và con số này vẫn tiếp tục
                        tăng trưởng không ngừng. Qua nhiều năm nỗ lực phát triển,
                        Gong Cha đã trở nên phổ biến với khách hàng từ nhiều quốc gia
                        và trở thành một trong những thương hiệu trà đáng tin cậy hàng đầu trên thế giới.
                    </span>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/images/lytra_gioithieu.png" />
                </div>
            </div>
        </div>


    </div>
    <br />
    <div class="gongchavn">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <img src="~/Content/images/gioithieu1.jpg" />
                </div>
                <div class="col-md-6">
                    <br />
                    <strong>ESTORE VIỆT NAM</strong> <br /> <br />
                    <span>
                        Thương hiệu Gong Cha được công ty TNHH Golden Trust chính thức đưa vào hoạt
                        động tại thị trường Việt Nam từ ngày 11/10/2014. Trải qua hơn năm năm hoạt động,
                        công ty TNHH Golden Trust – đơn vị nhượng quyền độc quyền của Gong Cha tại Việt Nam,
                        đã đưa thương hiệu phát triển nhanh chóng và trở thành một trong những điểm đến
                        thân thuộc của các bạn trẻ yêu thích văn hóa trà sữa và mong muốn trải nghiệm
                        sản phẩm trà uy tín chất lượng với nguồn gốc xuất xứ rõ ràng.
                    </span>
                </div>

            </div>
        </div>


    </div>
    <br />
    <div class="giatri">
        <div class="container">
            <br />
            <div class="title">
                <span>GIÁ TRỊ CỐT LÕI</span>
            </div>
            <br />
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <div class=" giatri1">
                            <img src="~/Content/images/giatri1.png" />
                            <br />
                            <span class="title-giatri">
                                1. CHẤT LƯỢNG HÀNG ĐẦU
                            </span>
                        </div>
                        <br />

                        <span class="content-giatri">
                            An toàn, vệ sinh và ngon miệng. Việc sử dụng các nguyên liệu an toàn,
                            tự nhiên và vệ sinh là ưu tiên hàng đầu của Gong Cha. Hương vị tuyệt hảo
                            của các món thức uống là mục đích quan trọng tiếp theo mà chúng tôi muốn hướng đến.
                        </span>
                        <br />
                        <br />
                    </div>
                    <div class="col-md-4">
                        <div class=" giatri1">
                            <img src="~/Content/images/giatri2.png" />
                            <br />
                            <span class="title-giatri">
                                2. DỊCH VỤ THÂN THIỆN & CHUYÊN NGHIỆP
                            </span>
                        </div>
                        <br />

                        <span class="content-giatri">
                            Gong Cha mong muốn làm hài lòng khách hàng tốt nhất với tác phong phục vụ chuyên nghiệp
                            và thân thiện, luôn lắng nghe những đóng góp của khách hàng.
                        </span>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <div class=" giatri1">
                            <img src="~/Content/images/giatri3.png" />
                            <br />
                            <span class="title-giatri">
                                3. THƯƠNG HIỆU ĐÁNG TIN CẬY
                            </span>
                        </div>
                        <br />

                        <span class="content-giatri">
                            Dựa trên hai nền tảng cốt lõi là Chất Lượng và Dịch Vụ, Gong Cha luôn nỗ lực
                            xây dựng và duy trì hình ảnh thương hiệu đáng tin cậy trong mắt khách hàng.
                        </span>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

</div>



