<div class="dropdown for-notification">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i>
        <span class="count bg-danger">@ViewBag.TongHoaDon</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="notification">
        <p class="red">Có @ViewBag.TongHoaDon hóa đơn cần giao</p>
        <a class="dropdown-item media" href="/BillNhanVien/DanhSachHoaDon_NhanVien">
            phê duyệt ngay
        </a>

    </div>
</div>

