
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<div class="container">
    <div class="danhsachsanpham">
        <div>
            <h4>Danh sách chi nhánh</h4>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10 row">
                <div class="col-md-1"></div>
                <input type="text" name="txtSearch" placeholder="Tìm kiếm" class="txtSearch form-control col-md-7" />
                <div class="col-md-2"><button type="button" class="btn btn-warning" id="search">Tìm kiếm</button></div>
                
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-2">
                <button type="button" id="themsanpham" class="btn btn-primary" data-toggle="modal" data-target="#modalsanpham" onclick="clearTextBox()">Thêm mới</button><br /><br />
            </div>
        </div>



        <table class="table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th width="5%">
                        STT
                    </th>
                    <th width="25%">
                        Tên chi nhánh
                    </th>
                    <th width="15%">
                        Địa chỉ
                    </th>
                    
                    <th width="15%">

                    </th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
        <div class="card-footer">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="load-pagination"></ul>
            </nav>
        </div>
    </div>

</div>




<div class="modal fade " id="modalsanpham" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Thêm chi nhánh mới</h4>
                <button type="button" class="close" id="closemodalsanpham" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body">
                <form>
                    <input type="text" class="form-control" id="idchinhanh" placeholder="" style="display:none;" />
                    <div class="form-group row">
                        <label for="NoiDung" class="col-md-3">Tên chi nhánh</label>
                        <input type="text" class="form-control col-md-8" id="tenchinhanh" placeholder="tên chi nhánh" />
                        <div class="col-md-1"></div>
                    </div>


                    <div class="form-group row">
                        <label for="GiaBan" class="col-md-3">Địa chỉ</label>
                        <input type="text" class="form-control col-md-8" id="diachichinhanh" disabled />
                        <div class="col-md-1"></div>
                    </div>
                    <div id="map" style="height:300px;"></div>
                    <span style="display:none;" id="ds_toado">@ViewBag.ToDoCacChiNhanh</span>
                    @*1,20.501040, 106.249478,0;2,21.035691930461805,105.8105985435913,0;3,21.022112552495344,105.79553525776366,0;
                    4,21.005943292479984,105.83499115669193,0;5,20.9677726103831,105.77181404320368,0;*@
                    <input type="text" name="name" value="" id="lat_chinhanh"  />
                    <input type="text" name="name" value="" id="lng_chinhanh" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAdd">Add</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnUpdate" style="display:none;">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnclosesanpham">Close</button>
            </div>
        </div>
    </div>
</div>


@section sanphamadmin{
    <script>


        $(document).ready(function (e) {

            loaddata(null,1);
        });
        function loaddata(txtSeach, page) {

            $.ajax({
                url: "/ChiNhanhAdmin/List",
                type: "GET",
                data: { txtSearch: txtSeach, page: page },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td width="5%" class="table-center">' + item.STT+ '</td>';
                        html += '<td width="25%">' + item.TenChiNhanh + '</td>';
                        html += '<td width="25%">' + item.DiaChi + '</td>';
                        html += '<td width="15%">  <a href="#"   onclick="getbyID(' + item.Id + ')">Sửa</a> | <a href="#"  onclick="Delele(' + item.Id + ')">Xóa</a> | <a href="/NhanVienAdmin/NhanVien_ChiNhanh?machinhanh=' + item.Id + '">Xem chi tiết</a></td>';
                        html += '</tr>';
                        var pagination_string = "";
                        var pageCurrent = result.pageCurrent;
                        var numSize = result.numSize;

                        //create button previous
                        if (pageCurrent > 1) {
                            var pagePrevious = pageCurrent - 1;
                            pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + pagePrevious + '>Previous</a></li>';
                        }

                        for (i = 1; i <= numSize; i++) {
                            if (i == pageCurrent) {
                                pagination_string += '<li class="page-item active"><a href="" class="page-link" data-page=' + i + '>' + pageCurrent + '</a></li>';
                            } else {
                                pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + i + '>' + i + '</a></li>';
                            }
                        }

                        //create button next
                        if (pageCurrent > 0 && pageCurrent < numSize) {
                            var pageNext = pageCurrent + 1;
                            pagination_string += '<li class="page-item"><a href="" class="page-link"  data-page=' + pageNext + '>Next</a></li>';
                        }

                        //load pagination
                        $("#load-pagination").html(pagination_string);

                    });
                    $('.tbody').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        $("body").on("click", ".pagination li a", function (event) {
            event.preventDefault();
            var page = $(this).attr('data-page');

            //load event pagination
            var txtSearch = $(".txtSearch").val();
            if (txtSearch != "") {
                loaddata(txtSearch, page)
            }
            else {
                loaddata(null, page);
            }

        });
        $("#search").click(function () {
            var txtSearch = $(".txtSearch").val();
            if (txtSearch != "") {
                loaddata(txtSearch, 1)
            }
            else {
                loaddata(null, 1);
            }

        });

        $('#btnAdd').click(function () {

           
            var res = validate();
            if (res == false) {
                return false;
            }
            var empObj = {
                TenChiNhanh: $('#tenchinhanh').val(),
                DiaChi: $('#diachichinhanh').val(),
                Lat: $('#lat_chinhanh').val(),
                Lng: $('#lng_chinhanh').val()
               
            };
            $.ajax({
                url: "/ChiNhanhAdmin/Add",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {

                    loaddata(null, 1);
                    alert('Bạn đã thêm mới thành công');

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });

        function getbyID(ID) {
            $('#tenchinhanh').css('border-color', 'lightgrey');
            $('#diachichinhanh').css('border-color', 'lightgrey');

            

            $.ajax({
                url: "/ChiNhanhAdmin/GetbyID/" + ID,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#themsanpham').click();
                    $('#idchinhanh').val(result.Id);
                    $('#tenchinhanh').val(result.TenChiNhanh);
                    $('#diachichinhanh').val(result.DiaChi);
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                    $('#myModalLabel').text('Sửa thông tin sản phẩm');

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;

        }

        $('#btnUpdate').click(function () {
            
            var res = validate();
            if (res == false) {
                return false;
            }
            var empObj = {
                Id : $('#idchinhanh').val(),
                TenChiNhanh: $('#tenchinhanh').val(),
                DiaChi: $('#diachichinhanh').val(),
                Lat: $('#lat_chinhanh').val(),
                Lng: $('#lng_chinhanh').val()
                
            };
            $.ajax({
                url: "/ChiNhanhAdmin/Update",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loaddata(null, 1);
                    alert('Bạn đã sửa thông tin sản phẩm thành công');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });
        function Delele(ID) {
            var ans = confirm("Bạn có chắc muốn xóa không?");
            if (ans) {
                $.ajax({
                    url: "/ChiNhanhAdmin/Delete/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        loaddata(null, 1);
                        alert('Bạn đã xóa sản phẩm thành công');
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        function clearTextBox() {

            $('#idchinhanh').val("");
            $('#tenchinhanh').val("");
            $('#diachichinhanh').val("");
           
            $('#myModalLabel').text('Thêm sản phẩm mới');
            $('#btnUpdate').hide();
            $('#btnAdd').show();
        }
        //Valdidation using jquery
        function validate() {
            var isValid = true;
            if ($('#tenchinhanh').val()== "") {
                $('#tenchinhanh').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#tenchinhanh').css('border-color', 'lightgrey');
            }


            if ($('#diachichinhanh').val() == "") {
                $('#diachichinhanh').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#diachichinhanh').css('border-color', 'lightgrey');
            }
            return isValid;
        }





        var map;
        var markers = [];
        var mak_chinhanh;
        var mak_chinhanhs = [];
        var lat1 = 21.03744305479058, lng1 = 105.7833194732666, lat_lng
        var cacchinhanh = [

        ]
        var ds_toado = $('#ds_toado').text();
        var ds_toado_split = [];
        ds_toado_split = ds_toado.split(';');
        var cacchinhanh = [
        ]



        for (var i = 0; i < ds_toado_split.length - 1; i++) {
            var item_toado_split = ds_toado_split[i].split(',');
            var toado_object = {
                id: item_toado_split[0],
                lat: item_toado_split[1],
                lng: item_toado_split[2],
                khoangcach: item_toado_split[3]
            }
            cacchinhanh.push(toado_object);
        }
        console.log(cacchinhanh);
        function initMap() {
            // các chi nhánh
            var haightAshbury = { lat: 21.03744305479058, lng: 105.7833194732666 };

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: haightAshbury,
                mapTypeId: 'terrain'
            });



            map.addListener('click', function (event) {
                addMarker(event.latLng);
                lat1 = haightAshbury.lat;
                lng1 = haightAshbury.lng;

            });
            var iconBase =
                'https://developers.google.com/maps/documentation/javascript/examples/full/images/';

            var icons = {
                parking: {
                    icon: iconBase + 'parking_lot_maps.png'
                },
                library: {
                    icon: iconBase + 'library_maps.png'
                },
                info: {
                    icon: iconBase + 'info-i_maps.png'
                }
            };

            var features = [
                // {
                //   position: new google.maps.LatLng(21.038227, 105.772123),
                //   type: 'parking'
                // }, {
                //   position: new google.maps.LatLng(21.035691930461805, 105.8105985435913),
                //   type: 'parking'
                // }, {
                //   position: new google.maps.LatLng(21.022112552495344, 105.79553525776366),
                //   type: 'parking'
                // }, {
                //   position: new google.maps.LatLng(21.005943292479984, 105.83499115669193),
                //   type: 'parking'
                // }, {
                //   position: new google.maps.LatLng(21.0677726103831, 105.77181404320368),
                //   type: 'parking'
                // }

            ];
            for (var i = 0; i < ds_toado_split.length - 1; i++) {
                var item_toado_split = ds_toado_split[i].split(',');
                var feature_object = {
                    position: new google.maps.LatLng(item_toado_split[1], item_toado_split[2]),
                    type: 'parking'
                }
                features.push(feature_object);
            }

            // Create markers.
            for (var i = 0; i < features.length; i++) {
                var marker = new google.maps.Marker({
                    position: features[i].position,
                    icon: icons[features[i].type].icon,
                    map: map
                });
            };





        }
        function addMarker_ChiNhanh(location) {

            var mak_chinhanh = new google.maps.Marker({
                position: location,
                map: map
            });
            mak_chinhanhs.push(mak_chinhanh);
        }

        function addMarker(location) {
            clearMarkers();
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            markers.push(marker);
            lat_lng = location.toString().replace(')', '').replace('(', '');
            var lat_lng_split = lat_lng.split(',');

            lat1 = lat_lng_split[0];
            lng1 = lat_lng_split[1];

            var geocoder = new google.maps.Geocoder;
            var infowindow = new google.maps.InfoWindow;
            geocodeLatLng(geocoder, map, infowindow);



           
            

        }

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }


        function clearMarkers() {
            setMapOnAll(null);
        }


        function geocodeLatLng(geocoder, map, infowindow) {
            var latlng = { lat: Number(lat1), lng: Number(lng1) };
            geocoder.geocode({ 'location': latlng }, function (results, status) {
                if (status === 'OK') {
                    if (results[0]) {
                        $('#diachichinhanh').val(results[0].formatted_address);
                        $('#lat_chinhanh').val(latlng.lat);
                        $('#lng_chinhanh').val(latlng.lng);
                        
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }





        
    </script>

}


